.categories-list {
  background: $tertiary-color;
  color: $light-color;

  .empty-list {
    border-color: rgba(255, 255, 255, 0.6);
  }

  .add {
    color: $tertiary-color;
  }
}

.no-categories {
  border: dashed 3px $neutral-color;
  margin: 1em;
  padding: 1em;
  text-align: center;

  .has-categories & {
    display: none;
  }
}

.exercises-list {
  h3 {
    &:after {
      content: ':';
    }
  }

  h3,
  ul {
    display: inline-block;
  }

  > li {
    margin: 0.4em 0.6em;
  }
}

.weights-list {
  li {
    border-left: solid 1px rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin: 0.4em 0;
    padding: 0 0.4em;

    &:first-child {
      border: none;
    }
  }
}

.editor-exercises {
  padding: 0 0.4em;

  h4 {
    margin-left: 0.4em;
  }
}

.editor-exercise,
.add-exercise {
  border: solid 1px $neutral-color;
  margin: 0.4em 0;
  position: relative;
}

.remove-exercise {
  font-size: 0.8em;
  margin: 0.4em;
}

.editor-weights {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2em;

  button {
    background: $neutral-color;
    border-radius: 0 3px 3px 0 !important;
  }
}

.editor-weight,
.add-weight {
  display: flex;
  margin: 0.2em;
  width: 6em;

  input {
    border-left: solid 1px $neutral-color;
    border-radius: 3px 0 0 3px;
    padding: 0.4em;
    text-align: center;
    width: 75%;
  }
}

.add-weight {
  button {
    background: $darkest-color;
    border-radius: 3px !important;
    color: $light-color;
  }
}
