.editor {
  .modal-dialog {
    display: flex;
    flex-direction: column;
  }

  button {
    rounded-button();
  }

  main {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  footer {
    background: #FFF;
    border-top: solid 1px neutral-color;
    border-radius: 0 0 3px 3px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0.8em;
  }

  .ok {
    background: success-color;
    color: light-color;
  }

  .remove {
    background: error-color;
    color: light-color;
  }
}
