body.modal-dialog-present {
  overflow: hidden;
}

.modal-dialog-overlay {
  absolute-full(0);
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

.modal-dialog {
  absolute-full(0.6em);
  background: #e3e3e3;
  border-radius: 3px;
  margin: 0.8em;
}
