body.modal-dialog-present {
  overflow: hidden;
}

.modal-dialog-overlay {
  @include absolute-full();
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 0.6em;
  z-index: 10;
}

.modal-dialog {
  background: $light-color;
  margin: auto;
}
