body.modal-dialog-present {
  overflow: hidden;
}

.modal-dialog-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.modal-dialog {
  background: light-color;
  border-radius: 3px;
  margin: 0.8em;
  max-height: 90%;
}
