.routines-list {
  background: $secondary-color;
  color: $dark-color;

  .empty-list {
    border-color: rgba(0, 0, 0, 0.6);
  }

  .add {
    color: $secondary-color;
  }
}

.add-routine button,
.add-exercise button {
  display: block;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
}
