.routines-list {
  background: $secondary-color;
  color: $dark-color;

  .empty-list {
    border-color: rgba(0, 0, 0, 0.6);
  }

  .add {
    color: $secondary-color;
  }
}

.routine-editor {
  .modal-dialog {
    background: $secondary-color;

    .add {
      color: $secondary-color;
    }
  }
}
