.timers-list {
  background: dark-color;
  color: light-color;
}

.timer {
  border-top: solid 1px lighten(dark-color, 10%);
  border-bottom: solid 1px darkest-color;
  display: flex;
  padding: 0.4em 1em;

  .time-left {
    font-family: digital, monospace;
    font-size: 4em;
    margin-right: 0.2em;
  }

  .control {
    display: flex;
    width: 4em;
  }

  .start
  .pause,
  .reset {
    display: none;
    flex-grow: 1;
    font-size: 2em;
    text-align: center;
  }

  .start {
    color: success-color;
  }

  .pause {
    color: primary-color;
  }

  .reset {
    color: error-color;
  }

  &.can-start .start,
  &.running .pause,
  &.can-reset .reset {
    display: block;
  }

  &.times-up {
    .time-left {
      color: red;
    }

    .start,
    .pause {
      display: none;
    }
  }

  span {
    display: inline-block;
  }
}

.add-timer {
  background: darkest-color;
  box-sizing: border-box;
  color: neutral-color;
  font-size: 2em;
  padding: 0.4em;
  width: 100%;

  i {
    margin-right: 0.4em;
  }
}
