.timers-list {
  background: dark-color;
  color: light-color;
  padding-top: 1px;
}

.no-timers {
  border: dashed 3px neutral-color;
  margin: 1em;
  padding: 1em;
  text-align: center;

  .has-timers & {
    display: none;
  }
}

.timer {
  border-top: solid 1px lighten(dark-color, 10%);
  border-bottom: solid 1px darkest-color;
  display: flex;
  padding: 0.4em 0.6em;

  .time-left {
    font-family: digital, monospace;
    font-size: 5em;
    margin-right: 0.2em;
  }

  .digit {
    text-align: right;
    width: 0.5em;
  }

  .control {
    display: flex;
    width: 4.5em;
  }

  .start
  .pause,
  .reset {
    display: none;
    flex-grow: 1;
    font-size: 3em;
    text-align: center;
  }

  .start {
    color: success-color;
  }

  .pause {
    color: primary-color;
  }

  .reset {
    color: error-color;
  }

  &.can-start .start,
  &.running .pause,
  &.can-reset .reset {
    display: block;
  }

  &.times-up {
    .time-left {
      color: red;
    }

    .start,
    .pause {
      display: none;
    }
  }

  span {
    display: inline-block;
  }
}

.add-timer {
  background: darkest-color;
  box-sizing: border-box;
  color: neutral-color;
  font-size: 1.4em;
  padding: 0.4em;
  width: 100%;

  i {
    margin-right: 0.4em;
  }
}

.timer-editor {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main > div {
    display: flex;
    padding: 0.8em;

    .wrap {
      display: flex;
      flex-direction: column;
    }

    .content {
      font-size: 4em;
    }

    .separator {
      button {
        visibility: hidden;

        &:before {
          content: '\00a0'
        }
      }
    }

    button {
      background: #FFF;
      margin: 0.4em 0;
      padding: 0.6em 0;

      i {
        margin-right: 0.4em;
      }
    }
  }
}
