.timers-list {
  background: $primary-color;
  color: $light-color;
  padding-top: 1px;

  .empty-list {
    border-color: rgba(255, 255, 255, 0.6);
  }

  .add {
    color: $primary-color;
  }
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.timer {
  border-top: solid 1px rgba(255, 255, 255, 0.4);
  display: flex;
  padding: 0.4em 0.6em;

  &:first-child {
    border-top: none;
  }

  .time-left {
    font-family: digital, monospace;
    font-size: 5em;
    margin-right: 0.2em;
  }

  .digit {
    text-align: right;
    width: 0.5em;
  }

  .control {
    display: flex;
    width: 4.5em;
  }

  .start,
  .pause,
  .reset {
    color: $light-color;
    display: none;
    flex-grow: 1;
    font-size: 3em;
    opacity: 0.8;
    text-align: center;

    &:hover {
      opacity: 1.0
    }
  }

  &.can-start .start,
  &.running .pause,
  &.can-reset .reset {
    display: block;
  }

  &.times-up {
    background: $light-color;
    color: $primary-color;

    .time-left {
      animation: blink 1.5s infinite;
    }

    .start,
    .pause {
      display: none;
    }

    .reset {
      color: $primary-color;
    }
  }

  span {
    display: inline-block;
  }
}

.timer-editor {
  .modal-dialog {
    position: static;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  input {
    font-size: 1.2em;
    margin-right: 0.2em;
    padding: 0.4em;
    text-align: right;
    width: 2em;
  }

  input:last-of-type {
    margin-left: 0.6em;
  }
}
