<!DOCTYPE html>
{{#if isProd}}
<html lang="en" manifest="appcache.manifest">
{{else}}
<html lang="en">
{{/if}}
<head>
  <meta charset="utf-8" />

  <title>Workout</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-60.png">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-120.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-180.png" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-76.png"  sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-152.png" sizes="152x152">

  {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}" />
  {{/each}}
</head>
<body>
  <div id="app"></div>

  {{#each scripts}}
    <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
